# Flutter
.dart_tool/
.packages
build/
pubspec.lock

# macOS/Linux
.DS_Store

# Android
.gradle/
local.properties
.idea/
*.iml
/out/
captures/
.dart_tool/

# iOS
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Pods/
/xcuserdata/
DerivedData/
.xcworkspace
!*.xcworkspace

# Coverage
coverage/

# Environment
.env
.env.local
